@{
    ViewData["Title"] = "ГЛ - Рейтинг";
}

<h1 id="follower-rating-header" class="text-center display-6">Рейтинг последователей</h1>

<div class="table-responsive table-fixed-container">
    <table id="followers-table" class="table table-sm table-striped table-bordered table-hover table-dark text-center bg-opacity-25">
        <thead>
            <tr>
                <th>#</th>
                <th>№</th>
                <th>
                    <img src="~/images/creature.png"
                         width="24"
                         height="24"
                         alt="Существо"
                         title="Существо" 
                        />
                </th>
                <th>
                    <img src="~/images/rare.png"
                         width="24"
                         height="24"
                         alt="Редкий"
                         title="Редкий" 
                        />
                    <img src="~/images/very_rare.png"
                         width="24"
                         height="24"
                         alt="Очень редкий"
                         title="Очень редкий" 
                    />
                    <img src="~/images/legendary.png"
                         width="24"
                         height="24"
                         alt="Легендарный"
                         title="Легендарный" 
                    />
                    <img src="~/images/mythical.png"
                         width="24"
                         height="24"
                         alt="Мифический"
                         title="Мифический" 
                    />
                </th>
                <th>
                    <img src="~/images/leadership.png"
                         width="24"
                         height="24"
                         alt="Лидерство"
                         title="Лидерство" 
                    />
                </th>
                <th>
                    <img src="~/images/rating.png"
                         width="24"
                         height="24"
                         alt="Общий рейтинг"
                         title="Общий рейтинг" />
                </th>
                <th>
                    <img 
                        src="~/images/attack.png"
                        width="24"
                        height="24"
                        alt="Нападение"
                        title="Нападение"
                    />
                </th>
                <th>
                    <img src="~/images/defense.png"
                         width="24"
                         height="24"
                         alt="Защита"
                         title="Защита" 
                    />
                </th>
                <th>
                    <img src="~/images/damage.png"
                         width="24"
                         height="24"
                         alt="Урон"
                         title="Урон" 
                    />
                </th>
                <th>
                    <img src="~/images/hit_points.png"
                         width="24"
                         height="24"
                         alt="Здоровье"
                         title="Здоровье" 
                    />
                </th>
                <th>
                    <img src="~/images/movement.png"
                         width="24"
                         height="24"
                         alt="Скорость"
                         title="Скорость" 
                    />
                </th>
                <th>
                    <img src="~/images/initiative.png"
                         width="24"
                         height="24"
                         alt="Инициатива"
                         title="Инициатива" 
                    />
                </th>
                <th>
                    <img src="~/images/abilities.png"
                         width="24"
                         height="24"
                         alt="Способности"
                         title="Способности" 
                    />
                </th>
                <th>
                    <img src="~/images/offense.png"
                         width="24"
                         height="24"
                         alt="Наступление"
                         title="Наступление" 
                    />
                </th>
                <th>
                    <img src="~/images/survivability.png"
                         width="24"
                         height="24"
                         alt="Живучесть"
                         title="Живучесть" 
                    />
                </th>
                <th>
                    <img src="~/images/rush.png"
                         width="24"
                         height="24"
                         alt="Темп"
                         title="Темп" 
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var follower in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@follower.Id</td>
                    <td>@follower.DisplayName</td>
                    <td>@follower.DisplayTier</td>
                    <td>@follower.Leadership</td>
                    <td class="text-danger">
                        <strong>@follower.Efficiency.Overall</strong>
                    </td>
                    <td>@follower.Efficiency.Attack</td>
                    <td>@follower.Efficiency.Defence</td>
                    <td>@follower.Efficiency.Damage</td>
                    <td>@follower.Efficiency.HitPoints</td>
                    <td>@follower.Efficiency.Movement</td>
                    <td>@follower.Efficiency.Initiative</td>
                    <td>@follower.Efficiency.Abilities</td>
                    <td>@follower.Efficiency.Offense</td>
                    <td>@follower.Efficiency.Survivability</td>
                    <td>@follower.Efficiency.Rush</td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>
