<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Герои войны и денег</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HWM.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink(
                "Гильдия лидеров",
                "Index",
                "Leader",
                new { ownerId = 0 },
                new { @class = "navbar-brand" }
            )
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Рейтинг существ
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li>
                                @Html.ActionLink(
                                    "---Все существа---",
                                    "Index", 
                                    "Leader",
                                    new { ownerId = 0 },
                                    new { @class = "dropdown-item" }
                                )
                            </li>
                            <li>
                                @Html.ActionLink(
                                    "Винсент ван Далл",
                                    "Index",
                                    "Leader",
                                    new { ownerId = 7946153 },
                                    new { @class = "dropdown-item" }
                                )
                            </li>
                            <li>
                                @Html.ActionLink(
                                    "Штраф Трудоголика",
                                    "Index",
                                    "Leader",
                                    new { ownerId = 7719041 },
                                    new { @class = "dropdown-item" }
                                )
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Герои войны и денег
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
